@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    /* COLORS */
    --primary-color: #FFA955;
    --background-primary-color: #FFF7F0;
    --border-primary-color: #FFCFA2;
    --light-primary-color: #FFBF80;
    --secondary-color: #683300;
    --gray-color: #7F7D7B;
    --transparent-025: rgba(255, 255, 255, 0.25);
    /* RADIUS */
    --small-radius: 8px;
    --medium-radius: 16px;
    --large-radius: 24px;
}

/* COMPONENTS */
.section-menu {
    padding-inline: 5%;
    padding-block: 100px;
}

.primary-button,
.light-button,
.secondary-button {
    padding: 8px 14px;
    font-size: 18px;
    border-radius: var(--small-radius);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.hover-icon-right:hover i {
    transform: translateX(4px);
}

.primary-button i,
.light-button i,
.secondary-button i {
    font-size: 24px;
    transition: 300ms ease;
}

.primary-button {
    background: var(--primary-color);
    color: white;
    border: 4px solid var(--transparent-025);
}

.light-button {
    background: white;
    color: var(--primary-color);
    border: 4px solid var(--border-primary-color);
}

.secondary-button {
    background: var(--secondary-color);
    color: white;
    border: 4px solid var(--transparent-025);
}

.section-title {
    font-family: 'Praise', cursive;
    font-size: 50px;
    color: var(--primary-color);
}

.section-title span {
    font-family: 'Praise', cursive;
    color: var(--secondary-color);
}

.section-desc {
    font-size: 20px;
}

.text-field {
    background: var(--transparent-025);
    padding: 8px 12px;
    border-radius: var(--small-radius);
    border: 4px solid transparent;
    outline: none;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 500;
    width: 100%;
}

.text-field::placeholder {
    font-size: 16px;
}

.text-field--textarea {
    resize: none;
}

/* END COMPONENTS */

/* HEADER */


/* END HEADER */

/* SECTION HOME */


/* END SECTION HOME */

/* SECTION MENUS */


/* END SECTION MENUS */

/* SECTION ABOUT */


/* END SECTION ABOUT */

/* SECTION SERVICES */


/* END SECTION SERVICES */

/* SECTION CONTACT */


/* END SECTION CONTACT */

/* FOOTER */


/* END FOOTER */

@media screen and (max-width: 768px) {

    /* COMPONENTS */
    .section-menu {
        padding-block: 50px;
    }

    /* END COMPONENTS */

    /* HEADER */


    /* END HEADER */

    /* SECTION HOME */


    /* END SECTION HOME */

    /* SECTION ABOUT */


    /* END SECTION ABOUT */

    /* SECTION SERVICES */


    /* END SECTION SERVICES */

    /* SECTION CONTACT */


    /* END SECTION CONTACT */

    /* FOOTER */


    /* END FOOTER */
}